# APP
BMS__APP__PORT=80

# DB
BMS__DB__HOST=localhost
BMS__DB__PORT=5432
BMS__DB__USER=user
BMS__DB__PASSWORD=password
BMS__DB__NAME=my_db

# Authentication
BMS__AUTHENTICATION__ACCESS_TOKEN_LIFETIME_SECONDS=604800
BMS__AUTHENTICATION__RESET_PASSWORD_TOKEN_SECRET=secret1
BMS__AUTHENTICATION__VERIFICATION_TOKEN_SECRET=secret2

# Password
BMS__PASSWORD__MIN_LENGTH=8
BMS__PASSWORD__LOWERCASE_MIN_NUMBER=1
BMS__PASSWORD__UPPERCASE_MIN_NUMBER=1
BMS__PASSWORD__DIGITS_MIN_NUMBER=1
BMS__PASSWORD__SPECIAL_CHARS_MIN_NUMBER=1
BMS__PASSWORD__ALLOWED_SPECIAL_CHARS="!\"#$%&'()*+,-./:;<=>?@[\\]^_`{|}~"

# User
BMS__USER__ADMIN_EMAIL=admin@example.com
BMS__USER__ADMIN_PASSWORD=Pass!1234
