# APP
BMS__APP__PORT=80

# DB
BMS__DB__HOST=localhost
BMS__DB__PORT=5432
BMS__DB__USER=user
BMS__DB__PASSWORD=password
BMS__DB__NAME=my_db

# AccessToken
BMS__ACCESS_TOKEN__RESET_PASSWORD_TOKEN_SECRET=secret1
BMS__ACCESS_TOKEN__VERIFICATION_TOKEN_SECRET=secret2
