{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    {% set is_manager = current_user.role == 'manager' %}
    {% set is_admin = current_user.role == 'admin' or current_user.is_superuser %}

    <h1>{{ team.name }}</h1>
    <p>{{ team.description }}</p>

    <h2>Members</h2>
    {% if is_admin %}
        <a href="{{ url_for('teams:add_member_page', team_id=team.id) }}">Add member</a>
    {% endif %}

    {% for user in members %}
        <div style="border: 2px solid gray; margin-bottom: 10px">
            {% if user == current_user %}
                <h3>You!</h3>
            {% endif %}
            <div>Email: {{ user.email }}</div>
            {% if is_admin %}
                <form action="{{ url_for('assign_user_role', team_id=team.id, user_id=user.id) }}" method="post">
                    <div>
                        <label for="role">Role:</label>
                        <select id="role" name="role">
                            {% for role in roles %}
                                <option
                                    value="{{ role }}"
                                    {% if user.role == role %} selected {% endif %}
                                    {% if role == 'admin' %} disabled {% endif %}
                                >
                                    {{ role }}
                                </option>
                            {% endfor %}
                        </select>
                        <button type="submit">Change role</button>
                    </div>
                </form>
            {% else %}
                <div>Role: {{ user.role }}</div>
            {% endif %}
            <div>Active: {{ user.is_active }}</div>
            <div>Superuser: {{ user.is_superuser }}</div>
            {% if is_admin %}
                <form action="{{ url_for('remove_team_member', team_id=team.id, user_id=user.id) }}" method="post">
                    <button type="submit">Remove from team</button>
                </form>
            {% endif %}
        </div>
    {% endfor %}

    <h2>Tasks</h2>
    {% if is_manager or is_admin %}
        <a href="{{ url_for('tasks:create_page', team_id=team.id) }}">Create task</a>
    {% endif %}
    {% for task in tasks %}
        <div style="border: 2px solid gray; margin-bottom: 10px">
            <div>Description: {{ task.description }}</div>
            <div>Status: {{ task.status }}</div>
            <div>Deadline: {{ task.deadline }}</div>
            <div>Author: {{ task.author.email }}</div>
            <div>Assignee: {{ task.assignee.email }}</div>
        </div>
    {% endfor %}

{% endblock %}