{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    {% set is_manager_or_admin = current_user.role == 'manager' or current_user.role == 'admin' or current_user.is_superuser %}
    {%  set is_meeting_author = meeting.created_by.id == current_user.id %}

    <h1>Meeting {{ meeting.id }}</h1>

    <div style="border: 2px solid gray; margin-bottom: 10px; padding: 10px; display: flex; flex-direction: column; row-gap: 10px">
        <div>Start: {{ meeting.start_time }}</div>
        <div>End: {{ meeting.end_time }}</div>
        <div>Duration: {{ meeting.end_time - meeting.start_time }}</div>
        <div>Created by: {{ meeting.created_by.email }}</div>

        {% if is_meeting_author %}
            <form action="{{ url_for('delete_meeting', meeting_id=meeting.id) }}" method="post">
                <button type="submit">Delete</button>
            </form>
        {% endif %}

    </div>

    <h2>Participants</h2>

    {% if is_manager_or_admin %}
        <form action="{{ url_for('add_meeting_participant', meeting_id=meeting.id) }}" method="post" style="display: flex; flex-direction: column; row-gap: 10px; align-items: start; margin-bottom: 10px">
            <div>
                <label for="user_email">User email:</label>
                <input id="user_email" type="email" name="user_email" value="{{ user_email if user_email is defined else ''}}" />
            </div>
            <button type="submit">Add participant</button>
        </form>
        {% if error %}
            <p style="color: red">{{ error }}</p>
        {% endif %}
    {% endif %}

    {% for participant in meeting.participants %}
        <div style="border: 2px solid gray; margin-bottom: 10px; padding: 10px; display: flex; flex-direction: column; row-gap: 10px">
            {% if participant == current_user %}
                <h3>You!</h3>
            {% endif %}
            <div>Email: {{ participant.email }}</div>
            <div>Role: {{ participant.role }}</div>
            <div>Active: {{ participant.is_active }}</div>
            <div>Superuser: {{ participant.is_superuser }}</div>

            {% if is_manager_or_admin %}
                <form action="{{ url_for('remove_meeting_participant', meeting_id=meeting.id, user_id=participant.id) }}" method="post">
                    <button type="submit">Remove participant</button>
                </form>
            {% endif %}

        </div>
    {% endfor %}

{% endblock %}
