{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block head %}
    <!-- FullCalendar CSS и JS -->
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.20/index.global.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.20/index.global.min.js"></script>
{% endblock %}

{% block content %}
    <h1>My Meetings</h1>

    <div id="calendar"></div>

    <h2>Filters</h2>
    <form style="display: flex; flex-direction: column; row-gap: 10px; align-items: start; margin-bottom: 10px">
        <div>
            <label for="start_date">Start date:</label>
            <input id="start_date" name="start" type="date" value="{{ filters.start.isoformat() if filters.start is not none else '' }}"/>
        </div>
        <div>
            <label for="end_date">End date:</label>
            <input id="end_date" name="end" type="date" value="{{ filters.end.isoformat() if filters.end is not none else '' }}" />
        </div>
        <div style="display: flex; column-gap: 20px">
            <button type="submit">Filter</button>
            <a href="{{ url_for('meetings:my_meetings_page') }}">Clear filters</a>
        </div>
    </form>
    {% if error %}
        <p style="color: red">{{ error }}</p>
    {% endif %}

    {% for meeting in meetings %}
        {%  set is_meeting_author = meeting.created_by.id == current_user.id %}

        <div style="border: 2px solid gray; margin-bottom: 10px; padding: 10px; display: flex; flex-direction: column; row-gap: 10px">
            <div>Start: {{ meeting.start_time }}</div>
            <div>End: {{ meeting.end_time }}</div>
            <div>Duration: {{ meeting.end_time - meeting.start_time }}</div>
            <div>Created by: {{ meeting.created_by.email }}</div>
            <a href="{{ url_for('meetings:detail_page', meeting_id=meeting.id) }}">Details</a>

            {% if is_meeting_author %}
                <form action="{{ url_for('delete_meeting', meeting_id=meeting.id) }}" method="post">
                    <button type="submit">Delete</button>
                </form>
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const calendarEl = document.getElementById('calendar');

        const calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            initialView: 'dayGridMonth',
            events: {
                url: "{{ url_for('meetings:calendar') }}",
                method: 'GET',
                extraParams: function() {
                    return {
                        user_id: {{ current_user.id }}
                    };
                },
                failure: function(error) {
                    console.error('Ошибка загрузки событий:', error);
                    alert('Could not load tasks. Try later.');
                }
            },
            eventDataTransform: function(rawEventData) {
                return {
                    title: `Meeting`,
                    start: rawEventData.start_time,
                    end: rawEventData.end_time,
                    extendedProps: {
                        meeting_id: rawEventData.id
                    }
                };
            },
            eventClick: function(info) {
                let meetingId = info.event.extendedProps.meeting_id;
                window.location.href = `/meetings/${meetingId}`;
            },
        });

        calendar.render();
    });
</script>
{% endblock %}