<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BMS | {% block title %}{% endblock %}</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    {% if current_user %}
    <div style="display: flex; column-gap: 20px; align-items: center; justify-content: end; font-size: larger">
        <a href="{{ url_for('profile') }}">Profile</a>
        <form action="{{ url_for('logout') }}" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
    {% else %}
        <div style="display: flex; column-gap: 20px; justify-content: end; font-size: larger">
            <a href="{{ url_for('register') }}">Register</a>
            <a href="{{ url_for('login') }}">Login</a>
        </div>
    {% endif %}

    <nav>
        <ul style="display: flex; list-style: none; column-gap: 20px; padding: 0; justify-content: center; font-size: larger">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            {% if current_user %}

                {% if current_user.role == 'admin' or current_user.is_superuser %}
                    <li><a href="{{ url_for('users:list_page') }}">Users</a></li>
                {% endif %}

                <li><a href="{{ url_for('teams:list_page') }}">Teams</a></li>
                <li><a href="{{ url_for('my_evaluations') }}">Evaluations I received</a></li>
                <li><a href="{{ url_for('meetings:list_page') }}">Meetings</a></li>
                <li><a href="{{ url_for('meetings:my_meetings_page') }}">My Meetings</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}
</body>
</html>