<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BMS | {% block title %}{% endblock %}</title>
</head>
<body>
    {% if current_user %}
        <p><a href="{{ url_for('profile') }}">Profile</a></p>
        <form action="{{ url_for('logout') }}" method="post">
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <div>
            <a href="{{ url_for('register') }}">Register</a>
            <a href="{{ url_for('login') }}">Login</a>
        </div>
    {% endif %}

    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            {% if current_user and (current_user.role == 'admin' or current_user.is_superuser) %}
                <li><a href="{{ url_for('users:list_page') }}">Users</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>