{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h1>Users</h1>
    {% for user in users %}
        <div style="border: 2px solid gray; margin-bottom: 10px; padding: 10px; display: flex; flex-direction: column; row-gap: 10px">
            {% if user == current_user %}
                <h2>You!</h2>
            {% endif %}
            <div>Email: {{ user.email }}</div>
            <div>Role: {{ user.role }}</div>
            <div>Active: {{ user.is_active }}</div>
            <div>Superuser: {{ user.is_superuser }}</div>
            <form action="{{ url_for('delete_user', user_id=user.id) }}" method="post">
                <button type="submit">Delete</button>
            </form>
        </div>
    {% endfor %}
{% endblock %}
