{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h1>Users</h1>
    {% for user in users %}
        <div style="border: 2px solid gray; margin-bottom: 10px">
            {% if user == current_user %}
                <h2>You!</h2>
            {% endif %}
            <div>Email: {{ user.email }}</div>
            <div>Role: {{ user.role }}</div>
            <div>Active: {{ user.is_active }}</div>
            <div>Superuser: {{ user.is_superuser }}</div>
        </div>
    {% endfor %}
{% endblock %}
